.pro-sidebar-layout {
    background-color: #3c2b50;
    /* background-color: linear-gradient(#332846, #635380); */
}
.pro-icon {
    color: #c190c0;
    background-color: #3c2b50;
}
.pro-inner-item {
    color: #c190c0;
    background-color: #3c2b50;
}
.pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item > .popper-inner {
    background-color: #c190c0;
}
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
    background-color: #3c2b50;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-icon-wrapper .pro-icon :hover {
    color: #dfe1e3;
}
.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:hover {
    color: #dfe1e3;
    font-weight: bold;
}
.popper-inner :hover {
    color: #dfe1e3;
}
